*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --color-hiper: #FDD0DB;
  --background: #f2b56b49;
  --tipografia-contenido: 'Roboto', sans-serif;
  --valor-contenido: 500;
  --tipografia-titulos: 'Playfair Display', serif;
  --valor-titulo: 700;
}

.logo {
    font-family: var(--tipografia-contenido);
    font-size: 2.7em;
    font-weight: 700;
}

.contenedor {
    margin-top: 10em;
}

h1 {
    margin-bottom: 4em;
    text-align: center;
    font-family: var(--tipografia-titulos);
    background: var(--color-hiper);
    color: #25283D;
    font-size: 2em;
}

.con {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.con p {
    text-align: center;
    margin-bottom: 3em;
}

h2 {
    font-family: var(--tipografia-titulos);
    font-weight: var(--valor-titulo);
    text-align: center;
    font-size: 1em;
}

.imagenes {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
    background: var(--color-hiper);
    color: #25283D;
    font-size: 2em;
    padding: 1em;
}

.footer {
    background: #688596;
    margin-top: 7em;
    padding: 6em;
    display: flex;
    justify-content: space-between;
  }

  .footer .caja-2 {
    text-align: left;
    font-size: var(--tipografia-contenido);
    font-weight: var(--valor-contenido);
  }

  .footer .caja-3 {
    text-align: center;
    font-size: var(--tipografia-contenido);
    font-weight: var(--valor-contenido);
  }

  .footer .caja-4 {
    text-align: left;
    font-size: var(--tipografia-contenido);
    font-weight: var(--valor-contenido);
  }

  h3 {
    text-align: center;
    font-size: var(--tipografia-titulos);
    font-weight: var(--valor-titulo);
  }

  .abajo {
    font-size: var(--tipografia-contenido);
    font-weight: var(--valor-contenido);
    background: #C6D1D8;
    padding: 1em;
  }

  @media (min-width: 768px) and (max-width: 1024px) {

    .imagenes {
        width: 100%;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 2em;
    }

    .footer {
      background: #688596;
      margin-top: 5em;
      padding: 4em;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {

    .imagenes {
        width: 100%;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-left: 2em;
    }

    h1 {
        margin-bottom: 7em;
        font-size: 1em;
        padding: 1em;
    }

    h4 {
        font-size: 1.5em;
        padding: 1em;
    }

    .footer {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .footer .caja-2 .caja-3 .caja-4 {
      text-align: left;
      justify-items: center;
      align-items: center;
      margin: auto;
    }

    .footer h3 {
      text-align: left;
    }

    .footer p {
      text-align: left;
    }

    .footer .productos {
      margin-top: 2em;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

  .imagenes {
        width: 100%;
        display: grid;
        grid-gap: 50px;
        margin-left: 2em;
        justify-items: center;
        align-items: center;
   }

  .footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer .caja-2 .caja-3 .caja-4 {
    text-align: left;
    justify-items: center;
    align-items: center;
    margin: auto;
  }

  .footer h3 {
    text-align: left;
  }

  .footer p {
    text-align: left;
  }

  .footer .productos {
    margin-top: 2em;
  }

  .abajo p {
    font-size: 0.8em;
  }

}
  